<mat-drawer-container class="example-container" [hasBackdrop]="false">
  <mat-drawer #drawer [mode]="'side'">
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <button (click)="showSideBar = !showSideBar"
      class="my-3 p-1 sidenav-btn-toggle"
      mat-raised-button (click)="drawer.toggle()">
      <mat-icon class="align-middle">
        <span *ngIf="showSideBar">chevron_left</span>
        <span *ngIf="!showSideBar">chevron_right</span>
      </mat-icon>
    </button>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
